

#
# Configuración de artefactos
#

# Cada linea representa un artefacto a instalar en tomcat
# Estas líneas se pueden trocear por el símbolo ':'
#   - El primer token se corresponde con el nombre del artefacto .war
#   - El segundo token es el nombre del conexto con el que se desplegará en Tomcat
#     y que se corresponde con el WAR que queda en SIGEM_DIST
#   - El tercer token representa los recursos JNDI a los que conectar (separados por comas)
#     ...https://carm-es.github.io/SIGM/3.0.1/Documentaci%C3%B3n-t%C3%A9cnica/instalaci%C3%B3n/Manual-de-instalaci%C3%B3n-AL-SIGM.html
#
# Faltan por configurar, los Wars que requieren sysnot y tercerosDS_000
#

SIGEM_fwktd-sir-ws:fwktdsirWS::
sigem_portal:portal::
sigem_administracionSesionesAdmWs:SIGEM_AdministracionSesionesAdmWS:SIGEMADMIN:
sigem_administracionSesionesBackOfficeWs:SIGEM_AdministracionSesionesBackOfficeWS:
sigem_administracionUsuariosWeb:SIGEM_AdministracionUsuariosWeb:ETRAM,AUDIT:
sigem_administracionWeb:SIGEM_AdministracionWeb:SIGEMADMIN,REGISTRO,TRAMITADOR,AUDIT:
sigem_antivirusWs:SIGEM_AntivirusWS:fwktdsirWS,DIR3,SIGEMADMIN,SIR:
sigem_archivoWar:SIGEM_ArchivoWeb:ARCHIVO,REGISTRO,TRAMITADOR,AUDIT:
sigem_autenticacionAdministracionWeb:SIGEM_AutenticacionAdministracionWeb:SIGEMADMIN,REGISTRO,AUDIT:
sigem_autenticacionBackOfficeWeb:SIGEM_AutenticacionBackOfficeWeb:SIGEMADMIN,REGISTRO,AUDIT:
sigem_autenticacionUsuariosWs:SIGEM_AutenticacionUsuariosWS:ETRAM,AUDIT:
sigem_autenticacionWeb:SIGEM_AutenticacionWeb:SIGEMADMIN,ETRAM,AUDIT:
SIGEM_BuscadorDocsWeb:SIGEM_BuscadorDocsWeb:REGISTRO,TRAMITADOR,AUDIT:
sigem_calendarioWs:SIGEM_CalendarioWS:ETRAM,AUDIT:
SIGEM_CatalogoProcedimientosWeb:SIGEM_CatalogoProcedimientosWeb:REGISTRO,TRAMITADOR,AUDIT:
sigem_catalogoTramitesWeb:SIGEM_CatalogoTramitesWeb:ETRAM,REGISTRO,AUDIT,DIR3:
sigem_catalogoTramitesWs:SIGEM_CatalogoTramitesWS:ETRAM,REGISTRO,AUDIT:
sigem_catastroWeb:SIGEM_CatastroWeb::
sigem_catastroWs:SIGEM_CatastroWS::
sigem_certificacionWeb:SIGEM_CertificacionWeb:ETRAM,AUDIT:
sigem_certificacionWs:SIGEM_CertificacionWS:ETRAM,AUDIT:
sigem_consultaExpedienteBackOfficeWeb:SIGEM_ConsultaExpedienteBackOfficeWeb:ETRAM,REGISTRO,AUDIT:
sigem_consultaRegistroTelematicoBackOfficeWeb:SIGEM_ConsultaRegistroTelematicoBackOfficeWeb:ETRAM,REGISTRO,AUDIT:
sigem_consultaRegistroTelematicoWeb:SIGEM_ConsultaRegistroTelematicoWeb:ETRAM,AUDIT:
sigem_consultaWeb:SIGEM_ConsultaWeb:ETRAM,AUDIT:
sigem_consultaWs:SIGEM_ConsultaWS:ETRAM,AUDIT:
sigem_criptoValidacionWS:SIGEM_CriptoValidacionWS::
sigem_entidadesWs:SIGEM_EntidadesWS:SIGEMADMIN:
sigem_estructuraOrganizativaWs:SIGEM_EstructuraOrganizativaWS:SIGEMADMIN,REGISTRO,AUDIT:
sigem_estructuraOrganizativaWeb:SIGEM_EstructuraWeb:SIGEMADMIN,REGISTRO,AUDIT:
sigem_firmaDigitalWs:SIGEM_FirmaDigitalWS::
sigem_geoLocalizacionWeb:SIGEM_GeoLocalizacionWeb:SIGEMADMIN:
sigem_geoLocalizacionWs:SIGEM_GeoLocalizacionWS:SIGEMADMIN:
sigem_gestionCSVWeb:SIGEM_GestionCSVWeb:SIGEMADMIN,AUDIT,ETRAM:
sigem_gestionCSVWS:SIGEM_GestionCSVWS:AUDIT,ETRAM:
SIGEM_MensajesCortosWS:SIGEM_MensajesCortosWS::
sigem_notificacionUpdaterWeb:SIGEM_NotificacionUpdaterWeb:SIGEMADMIN,ETRAM,AUDIT:
sigem_notificacionWeb:SIGEM_NotificacionWeb:ETRAM,AUDIT:
sigem_notificacionWs:SIGEM_NotificacionWS:ETRAM,AUDIT:
sigem_pagoElectronicoWeb:SIGEM_PagoElectronicoWeb:ETRAM,AUDIT:
sigem_pagoElectronicoWs:SIGEM_PagoElectronicoWS:ETRAM,AUDIT:
SIGEM_PublicadorWeb:SIGEM_PublicadorWeb:SIGEMADMIN,ETRAM,REGISTRO,TRAMITADOR,AUDIT:
SIGEM_PublicadorWS:SIGEM_PublicadorWS:SIGEMADMIN,ETRAM,REGISTRO,TRAMITADOR,AUDIT:
sigem_rdeWs:SIGEM_RdeWS:ETRAM,AUDIT:
sigem_registroPresencialAdminWeb:SIGEM_RegistroPresencialAdminWeb:SIGEMADMIN,DIR3,REGISTRO,AUDIT:
sigem_registroPresencialWeb:SIGEM_RegistroPresencialWeb:DIR3,SIGEMADMIN,SIR,REGISTRO,AUDIT:
sigem_registroPresencialWs:SIGEM_RegistroPresencialWS:DIR3,REGISTRO,SIR,AUDIT:
sigem_registroTelematicoDefaultTercerosConnectorWs:SIGEM_RegistroTelematicoDefaultTercerosConnectorWS:
sigem_registroTelematicoWeb:SIGEM_RegistroTelematicoWeb:SIGEMADMIN,ETRAM,REGISTRO,TRAMITADOR,AUDIT:
sigem_registroTelematicoWs:SIGEM_RegistroTelematicoWS:ETRAM,REGISTRO,TRAMITADOR,AUDIT:
sigem_repositoriosDocumentalesWeb:SIGEM_RepositoriosDocumentalesWeb:SIGEMADMIN,REGISTRO,AUDIT:
SIGEM_SchedulerWeb:SIGEM_SchedulerWeb:SIGEMADMIN,DIR3,REGISTRO,ETRAM,AUDIT:
SIGEM_ServicioIntermediacionClienteLigeroWS:SIGEM_ServicioIntermediacionClienteLigeroWS::
sigem_sessionUsuarioWS:SIGEM_SessionUsuarioWS:ETRAM,AUDIT:
SIGEM_SignoWS:SIGEM_SignoWS:SIGEMADMIN,ETRAM,TRAMITADOR,AUDIT:
SIGEM_TercerosWS:SIGEM_TercerosWS::
SIGEM_TramitacionWeb:SIGEM_TramitacionWeb:SIGEMADMIN,ETRAM,REGISTRO,TRAMITADOR,DIR3,SIR,AUDIT:
SIGEM_TramitacionWS:SIGEM_TramitacionWS:ETRAM,REGISTRO,TRAMITADOR,AUDIT:

